node_modules

/.cache
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite-journal
/prisma/migrations/*
*.sql
database.sqlite

.env
package-lock.json
yarn.lock
.env.wish-list-fido
.env.excellence-777-app
.ruby-version
shopify.app.wish-list-fido.toml
shopify.app.excellence-777-app.toml
shopify.app.toml
shopify.app.wish-list-test-toml
.env.wish-list-test
*.toml