{% liquid
assign wish_counter = block.settings.product.metafields.custom.wish_counter.value
assign productID = product.id
assign productTitle = product.title
%}  

<span>
  <center>
    <button id="addToWishList" name="addToWishList" class="button button--half-width button--secondary">
      <span>
        Add to wish List
      </span>
    </button>
  </center>
</span>

<script>  
  let wish_counter = '{{wish_counter}}'
  let productID = '{{productID}}'
  let productTitle = '{{productTitle}}'
  

  function counter () {
    wish_counter++
    console.log(wish_counter)
  }

  document.getElementById("addToWishList").addEventListener("click", counter)

</script>

{% schema %}
{
  "name": "addToWishList",
  "target": "section",
  "enabled_on": {
      "templates": ["product"]
    },
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true }
  ]
}
{% endschema %}