<head></head>

<body>
    <button onclick="testProxy()">test proxy</button>
</body>

<script async src={{ "proxy.js" | asset_url }} defer></script>

{% schema %}
{
  "name": "Proxy Embed",
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "Proxy button to customer wish list"
    }
  ]
}
{% endschema %}