{% assign product_id = product.id %}
{% assign shop_id = shop.id %}

{% comment %}
  1. read the product id from the JavaScript file, type coersion with product_id?
  2. use the product id to make a request to your Application
{% endcomment %}

<div class="wish-list-container">
  <button id="{{ product_id }}" class="add-to-list-button">
    Add To Wish List
  </button>
</div>

<script async id='myScript' src={{ "script.js" | asset_url }} shopId={{ shop_id }}></script>

{% schema %}
{
  "name": "Wish List Embed",
  "target": "section",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "Add the product ID you want to add to the wish list."
    }
  ]
}
{% endschema %}