<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

{% if customer %}
<div class="wish-list-container" >
  <div id="wish-list-popup" class="wish-list-popup">
        <div class="close-wish-list">
          <div class="close-wish-list-text">
            <P>Your Wish List</P>
          </div>
          <div class="close-wish-list-button"> 
            <button onclick="closeWishList()">&times</button>
          </div>
        </div>

      <div id="insert" class="list"></div>
  </div>

  <input type="hidden" class="shop-id" value="{{ shop.id }}">
  <input type="hidden" class="customer-id-list" value="{{ customer.id }}">
  <button onclick="viewList()" id="user-wishList" class="wish-list-button button button--full-width button--secondary">
    Wish List
  </button>
</div>
{% else %}
<div class="wish-list-container" >
  <button disabled title="Must be logged in" id="user-wishList" class="wish-list-button button button--full-width button--secondary">
    Wish List
  </button>
</div>
{% endif %}

<script async id='myScript' src={{ "wish_list.js" | asset_url }} defer></script>

<script src={{ "popup.js" | asset_url }} defer></script>

<style>
.wish-list-container {
  position: fixed;
  display: flex;
  justify-content: right;
  flex-direction: column;
  bottom: 0;
  right: 0;
  max-width: 550px;
  z-index: 3;
}

.wish-list-popup {
  display: none;
  width: 360px;
  height: 375px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 25px;
}

.close-wish-list {
  width: 350px;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: #EBECED;
  padding: 0;
  flex: 1 0 100%;
}

.close-wish-list-text {
  width: 50%;
  font-size: 15px;
  color: #333;
  text-align: left;
}
.close-wish-list-text p {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.close-wish-list-button {
  width: 50%;
  text-align: right;
}

.close-wish-list-button button{
  height: 40px;
  width: 40px; 
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 40px;
  font-weight: bold;
}

.list {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-top: 20px;
}

.list-ul {
  height: 315px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.list-li {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.list-li img{
  object-fit: contain;
  margin-right: 10px;
}

.list-flex {
  width: 125px;
  font-size: 12px;
  font-weight: bold;
  flex-direction: column;
  margin-right: 10px;
}

.list-name {
  display: flex;
  flex-direction: row;
}

.list-product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1px;
  width: 62.5px;
}

.list-buttons-flex {
  height: 45px;
  width: 150px;
  display: flex;
  flex-direction: row;
}

.list-form {
  padding: 8px 0;
}

.add--to--cart {
  padding: 0;
  background-color: #448FFF;
  color: #FFFFFF;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 100px;
  height: 29px ;
  margin-right: 5px;
}

.delete-from-list {
  height: 45px;
  width: 30px;
  padding: 8px 0;
}

.delete-button-css {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #FF0000;
  font-size: 15px;
  cursor: pointer;
  color: #FFFFFF;
}

.wish-list-button {
  width: 150px;
  height: 50px;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}
</style>

{% schema %}
{
  "name": "Wish List Embedded",
  "target": "body",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "View Wish List"
    }
  ]
}
{% endschema %}