<div class="wish-list-container" >
  <div id="insert" class="list"></div>
  <input type="hidden" class="customer-id-list" value="{{ customer.id }}">
  <button id="user-wishList" class="wish-list-button" >
    Wish List
  </button>
</div>

<script async id='myScript' src={{ "wish_list.js" | asset_url }} defer></script>

<style>
.wish-list-container {
  position: fixed;
  display: flex;
  justify-content: right;
  flex-direction: column;
  bottom: 0;
  right: 0;
  max-width: 550px;
}

.wish-list-button {
  width: 150px;
  height: 50px;
  right: 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.list {
  width: 350px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: 50px;
  right: 0;
}

.list p {
  font-size: 20px;
  color: #333;
  text-align: center;
}
</style>

{% schema %}
{
  "name": "Wish List Embedded",
  "target": "body",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "View Wish List"
    }
  ]
}
{% endschema %}